.dashboard{

    max-width: 1450px;
    margin: auto;
    padding: 50px;

}

.dashboard-title{

    font-size: 56px;
    font-weight: 700;
    margin-bottom: 35px;

    background: linear-gradient(
        90deg,
        #3B82F6,
        #9333EA
    );
    overflow: visible;
    line-height: 1.2;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-title{

    color: white;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;

}

.chart-card{

    background: #1F2937;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,.35);
    margin-top: 40px;
}